@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Estonia&family=Girassol&family=Kings&family=Oxanium:wght@200..800&family=Trade+Winds&display=swap');

*{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
}



body{
    background-color: black;
    background-image: url("Archive/Nexus Background Wallpaper.png");
}

p{
    font-family: "Oxanium", sans-system-ui;
    color: #f0e6f6;
    text-align: justify;
    margin: 50px;
    font-size: 20px;
}

.navbar-container{
    background-color: transparent;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}



/* .navbar-container{
    text-align: center;
    margin-right: 0px; 

} */

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
    font-size: 18px;
    font-family: "Oxanium", sans-system-ui;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    color: #85cbe9;
    text-decoration: none;
}


.footer{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: "Oxanium", sans-system-ui;
    position: relative;
    bottom: 0;
    width: calc(100% - 100px);
}


/* Main section styles */

.heading{
    font-family: "Trade Winds", sans-system-ui;
    color: #f2da61;
    text-align: left;
    margin-top: 0;
    font-size: 80px;
    text-shadow: #91c9e1 2px 2px 4px;
}

.intro-section{
    display: grid;
    grid-template-rows: 2fr 3fr;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

.intro-text{
    display: grid;
    grid-template-columns: auto auto;

}

.introduction-para{
    font-family: "Oxanium", sans-system-ui;
    color: #85cbe9;
    text-align: left;
    margin: 20px;
    font-size: 24px;
    line-height: 1.6;
}

.newsection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    margin: 50px;
}

#apod {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

#apod-img {
  width: 100%;
  border-radius: 12px;
  margin: 15px 0;
}

#apod-desc {
  font-size: 0.95rem;
  opacity: 0.85;
}
