@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Estonia&family=Girassol&family=Kings&family=Oxanium:wght@200..800&family=Trade+Winds&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    background-color: rgb(0, 0, 0);
    /* background-image: url("Archive/Nexus Background Wallpaper.png"); */
}

p{
    font-family: "Oxanium", sans-system-ui;
    color: #f0e6f6;
    text-align: left;
    font-size: 20px;
}

a{
    color: #85cbe9;
    text-decoration: none;
}


.navbar-container{
    background-color: transparent;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    font-size: 18px;
    font-family: "Oxanium", sans-system-ui;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}



.footer{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: "Oxanium", sans-system-ui;
    position: relative;
    bottom: 0;
    width: calc(100% - 100px);
    margin: 50px;
    border-radius: 12px;
}

/* Conten */

.intro-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #f0e6f6;
}

.intro-heading{
    font-family: "Trade Winds", sans-system-ui;
    font-size: 36px;
    margin-bottom: 10px;
    color: #85cbe9;
    font-size: 45px;
    text-align: center;
    
}

