@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Estonia&family=Girassol&family=Kings&family=Oxanium:wght@200..800&family=Trade+Winds&display=swap');

*{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

body{
    background-color: black;
    background-image: url("Archive/Nexus Background Wallpaper.png");
}

p{
    font-family: "Oxanium", sans-system-ui;
    color: #f0e6f6;
    text-align: justify;
    margin: 50px;
    font-size: 20px;
}

.navbar-container{
    background-color: transparent;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}